// COLORS
:root {
  --color-primary-1: hsl(0, 78%, 62%);
  --color-primary-2: hsl(180, 62%, 55%);
  --color-primary-3: hsl(34, 97%, 64%);
  --color-primary-4: hsl(212, 86%, 64%);

  --color-blue-dark: hsl(234, 12%, 34%);
  --color-blue-gray: hsl(229, 6%, 66%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-light: hsl(0, 0%, 98%);
}

$color-shadow: hsl(213, 47%, 67%);
$font: 'Poppins', sans-serif;