@use "../util" as u;

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, u.rem(350)));
  grid-template-rows: repeat(4, min-content);
  justify-content: center;
  row-gap: u.rem(30);
  column-gap: u.rem(10);
  margin-bottom: u.rem(50);

  @include u.breakpoint(large) {
    column-gap: u.rem(10);
  }

  @include u.breakpoint(medium) {
    grid-template-columns: repeat(2, minmax(min-content, u.rem(350)));
    grid-template-rows: repeat(2, min-content);
  }

  @include u.breakpoint(small) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
  }
}