@use "../util" as u;

.header {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-bottom: u.rem(80);

  &__text-box {
    text-align: center;
    //width: u.rem(500);
  }
}

.heading {
  margin-bottom: u.rem(18);
  line-height: u.rem(60);

  @include u.breakpoint(medium) {
    line-height: u.rem(40);
  }

  @include u.breakpoint(small) {
    line-height: u.rem(36);
  }

  &--light {
    font-weight: 200;
    display: block;
  }
}

.text {
  font-weight: 400;
  padding: 0 u.rem(400);

  @include u.breakpoint(large) {
    padding: 0 u.rem(250);
  }

  @include u.breakpoint(medium) {
    padding: 0 u.rem(150);
  }

  @include u.breakpoint(small) {
    padding: 0 u.rem(50);
  }

  @include u.breakpoint(xsmall) {
    padding: 0 u.rem(5);
  }
}