@use "../util" as u;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: u.$font;
  background-color: var(--color-gray-light);
  padding: u.rem(30);

  @include u.breakpoint(small) {
    padding: u.rem(20) u.rem(10);
  }
}

.container {
  max-width: 100vw;
}