@use "../util" as u;

h1,
h2,
h3 {
  color: var(--color-blue-dark);
}

h1 {
  font-size: clamp(u.rem(24), u.rem(16) + 2vw, u.rem(36));
}

h2 {
  font-size: u.rem(20);
}

p {
  font-size: u.rem(15);
  color: var(--color-blue-gray);
}

ul {
  list-style: none;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}